In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\saran_3jr101q\Downloads\student_performance.csv') #r is the raw string literal
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

In [4]:
#total students
df1=df.shape[0]
df1

1000

In [5]:
#students who studied > 2 hrs
df2=df['student_id'].loc[df['study_hours_per_day']>2]
df2

1      S1001
4      S1004
5      S1005
6      S1006
7      S1007
       ...
995    S1995
996    S1996
997    S1997
998    S1998
999    S1999
Name: student_id, Length: 846, dtype: object

In [6]:
#students who passed assuming cutoof = 50%
df3=df['student_id'].loc[df['exam_score']>50]
df3

0      S1000
1      S1001
4      S1004
5      S1005
6      S1006
       ...
995    S1995
996    S1996
997    S1997
998    S1998
999    S1999
Name: student_id, Length: 869, dtype: object

In [7]:
df4=pd.merge(df2,df3)
df4

    student_id
0        S1001
1        S1004
2        S1005
3        S1006
4        S1007
..         ...
797      S1995
798      S1996
799      S1997
800      S1998
801      S1999

[802 rows x 1 columns]

In [8]:
#percentage of students who passed among those who studied > 2 hrs 
percentage=(df4.shape[0]/df2.shape[0])
print(str(percentage)+" %")

0.9479905437352246 %

In [9]:
#probability a student studied > 2hrs given they passed
#A-- event student studied greater than 2 hrs
#B-- event where student passed
#find P(A|B)== (P(B|A)*P(A))/P(B)
#P(B|A)=P(B intersection A)/P(A)
PA=df2.shape[0]/df1
PB=df3.shape[0]/df1
PBA=df4.shape[0]/df2.shape[0]
PAB=(PBA*PA)/PB
print(PAB)

0.9228998849252015